.header-bg {
  background: #2B7A78;
  height: 50px;
  margin-bottom: 50px;
  margin-left: -3%;
  margin-right: -3%;
}

.header-menu {
  padding: 0 3%;
}

.header-bg a {
  display: inline-block;
  padding: 12px;
  color: #FEFFFF;
  text-decoration: none;
  text-align: center;
}

.header-bg a:hover {
  color: #17252A;
}

body {
  background-color: #DEF2F1;
  padding: 0 2.85%;
}

.rate {
  margin-top: -35px;
  margin-bottom: 15px;
}

.maintable {
  max-width: 65%;
  table-layout: fixed;
  background-color: #FEFFFF;
  border: 1px solid black;
  border-collapse: collapse;
  margin: 0 auto;
  margin-bottom: 2%;
}

.maintable td, th {
  text-align: center;
  border: 1px solid black;
  padding: 5px;
  word-wrap: break-word:
}

.maintable__cell_not-bordered {
  text-align: center;
  border: none !important;
  padding: 5px;
}

.center-button {
  text-align: center;
}

.form-addprice__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-addprice__text {
  display: inline-block;
  width: 65%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.form-addprice__other-content {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}



.form-addprice__other-elem {
  margin-right: 2%;
}

.form-button {
  background-color: #3AAFA9;
  color: #FEFFFF;
}

.hidden {
  display: none
}

.button {
  display: inline-block;
  padding: 3px 20px;
  background-color: #3AAFA9;
  color: white;
  text-align: center;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  color: #17252A;
}

.form-estimate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.form-estimate p {
  display: inline-block;
}






